/* Add here all your CSS customizations */
.main h1 {
	font-size: 30px;
}

#header .header-nav-main nav > ul > li > a {
	font-weight: 600;
	text-transform: none;
	font-size: 15px;
	text-decoration: none;
}

/* site logo */
#header .header-container {
	padding-left: 0;
}

#header .header-column {
	align-items: flex-start;
}

.header-logo a {
	text-decoration: none;
}

.logo-text {
	display: inline-block;
	font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #333;
	line-height: 1;
	white-space: nowrap;
}

.logo-text strong {
	font-weight: 800;
	color: #0088cc;
}

html.sticky-header-active .logo-text {
	font-size: 24px;
}

/* project entry */
.project-entry a {
	text-decoration: none;
}

.project-entry h3,
.project-entry h3 a {
	text-transform: none;
}

.advexp-settings-local {
	background-image: url("../img/Advexp.Settings.Local.png");
	display: inline-block;
	width: 76px;
	height: 76px;
	background-position: center;
}
